.div1{
    position: relative;    
}
.div2 p{
    color: white;
    width: 30%;
    position: absolute;
    top: 200px;;
    left: 200px;
    font-size: 20px;
}

.div2 h1,h3{
    color: white;
    position: absolute;
}
.div2 h1{
    top: 0px;;
    left: 200px;
    font-size: 50px;
}
.div2 h3{
    top: 100px;;
    left: 200px;
    font-size: 30px; 
}
.img7{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

